table.main {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 800px;
}
table.dl {
	width: 300px;
	text-align: center;
}
td.header {
	text-align: left;
	font-size: 40px;
	font-weight: bold;
	line-height: 54px;
}
td.headerlinks {
	float: right;
}

a:link, a:visited {
	color: #2E8B57;
	text-decoration: none;
}
a.header:link, a.header:visited {
	color: black;
	text-decoration: none;
	margin-right: 20px;
}

a:link:hover, a:visited:hover {
	color: black;
	text-decoration: underline;
}
a.dl {
	font-weight: bold;
}
a.page-link{
	
}
.big {
	font-size: 32px;
}
li.main {
	margin-bottom: 5px;
}
tr.modlist{
	line-height:20px;
}
